<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
</head>
<body>

<form th:method="POST" th:action="@{/auth/registration}" th:object="${user}">
  <label for="firstname">Введите имя: </label>
  <input type="text" th:field="*{firstName}" id="firstname"/>
  <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Ошибка в имени</div>
  <br/>
  <label for="lastname">Введите фамлию: </label>
  <input type="text" th:field="*{lastName}" id="lastname"/>
  <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Ошибка в фамилии</div>
  <br/>
  <label for="gender">Введите пол: </label>
  <input type="text" th:field="*{gender}" id="gender"/>
  <div style="color:red" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Ошибка в поле</div>
  <br/>
  <label for="login">Введите логин: </label>
  <input type="text" th:field="*{login}" id="login"/>
  <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Ошибка в поле</div>
  <br/>
  <label for="password">Введите пароль: </label>
  <input type="text" th:field="*{password}" id="password"/>
  <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Ошибка в поле</div>
  <br/>
  <input type="submit" value="Зарегистрировать"/>
</form>

</body>
</html>