<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text ="${userById.getFirstName()}">VALUE</title>
</head>
<body>
<p th:text="'Идентификатор данных(id): ' + ${userById.getId()}">VALUE</p>
<p th:text="'Имя: ' + ${userById.getFirstName()}">VALUE</p>
<p th:text="'Фамилия: ' + ${userById.getLastName()}">VALUE</p>
<p th:text="'Пол: ' + ${userById.getGender()}">VALUE</p>
<p th:text="'Логин: ' + ${userById.getLogin()}">VALUE</p>
<p th:each="role : ${userById.getRoleSet()}"
   th:text="'Роль: ' + ${role.getRole()} ">VALUE</p>

<a th:href="@{/admin/addRoleAdmin/{id}(id=${userById.getId()})}">Добавить права администратора</a>
<br/>
<a th:href="@{/admin/removeRoleAdmin/{id}(id=${userById.getId()})}">Лишить прав администратора</a>
<br/>

<a th:href="@{/admin/{id}/edit(id=${userById.getId()})}">Редактировать</a>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${userById.getId()})}">
    <input type="submit" value="Удалить"/>

</form>

<a th:href="@{/logout}">Выйти</a>
</body>
</html>